@media screen and (width < 768px) {

    .skillsContainer {
        ul.skillsList {
            li.skillsItems {
                img {
                    width: 35vw;
                }
            }
        }
    }

    .modal-content,
    .modal-contentBG {
        max-width: 95vw;
    }
    
    .shader__layer {
        width: 95vw;
    }
}